n8n-workflows/delete-horario.json
{"updatedAt":"2026-04-25T19:16:15.899Z","createdAt":"2026-04-24T00:15:02.404Z","id":"yGBu6pKrGcDm3AFq","name":"delete-horario","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"DELETE","path":"delete-horario","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-256,0],"id":"4e708add-1b68-457f-8cff-455e051dd679","name":"Webhook","webhookId":"90beecd3-7242-4469-9d44-df9fc03e864a"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst bodyData = input.body || {};\nconst { id } = bodyData;\n\nif (!id) {\n  throw new Error('ID del horario es requerido');\n}\n\nconst query = `DELETE FROM horarios WHERE id = ${parseInt(id)}\nRETURNING id;`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"900b3adc-a22c-4249-9939-63307e184241","name":"arma query"},{"parameters":{"jsCode":"return [{\n  json: {\n    success: true,\n    mensaje: 'Horario eliminado correctamente'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"e033f433-1f62-432c-9d1b-2371da79e370","name":"respuesta"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"e5da1027-d2a0-4811-aa0e-d44a1ca07392","name":"elimina horario","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-16,-176],"id":"50c0af39-481c-44b4-814f-fdc7b5de7174","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"elimina horario","type":"main","index":0}]]},"elimina horario":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95ade236-cd8a-42c9-8525-a7c6a09c6288","activeVersionId":"95ade236-cd8a-42c9-8525-a7c6a09c6288","triggerCount":1,"shared":[{"updatedAt":"2026-04-24T00:15:02.406Z","createdAt":"2026-04-24T00:15:02.406Z","role":"workflow:owner","workflowId":"yGBu6pKrGcDm3AFq","projectId":"vcSsmFzAF5xR3jXm"}],"activeVersion":{"updatedAt":"2026-04-25T19:16:17.000Z","createdAt":"2026-04-25T19:16:15.900Z","versionId":"95ade236-cd8a-42c9-8525-a7c6a09c6288","workflowId":"yGBu6pKrGcDm3AFq","nodes":[{"parameters":{"httpMethod":"DELETE","path":"delete-horario","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-256,0],"id":"4e708add-1b68-457f-8cff-455e051dd679","name":"Webhook","webhookId":"90beecd3-7242-4469-9d44-df9fc03e864a"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst bodyData = input.body || {};\nconst { id } = bodyData;\n\nif (!id) {\n  throw new Error('ID del horario es requerido');\n}\n\nconst query = `DELETE FROM horarios WHERE id = ${parseInt(id)}\nRETURNING id;`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"900b3adc-a22c-4249-9939-63307e184241","name":"arma query"},{"parameters":{"jsCode":"return [{\n  json: {\n    success: true,\n    mensaje: 'Horario eliminado correctamente'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"e033f433-1f62-432c-9d1b-2371da79e370","name":"respuesta"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"e5da1027-d2a0-4811-aa0e-d44a1ca07392","name":"elimina horario","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-16,-176],"id":"50c0af39-481c-44b4-814f-fdc7b5de7174","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"elimina horario","type":"main","index":0}]]},"elimina horario":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"authors":"Clases Fla","name":"Version 95ade236","description":"","autosaved":false},"tags":[]}