n8n-workflows/get-analytics-weekly.json
{"updatedAt":"2026-04-25T19:13:39.478Z","createdAt":"2026-04-21T14:40:07.036Z","id":"9mJqjF0IDwnWHoNU","name":"Analytics Weekly","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"get-analytics-weekly","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,0],"id":"dad01f6f-37d0-414e-abe9-faf40fc9fa6a","name":"Webhook","webhookId":"cf2db7c7-f46d-45cc-a095-2e48d74dae8b"},{"parameters":{"operation":"executeQuery","query":"WITH dias AS (\n    SELECT generate_series(\n        '{{ $json.query.startDate }}'::date,\n        '{{ $json.query.endDate }}'::date,\n        '1 day'::interval\n    )::date AS fecha_calendario\n)\nSELECT\n    TO_CHAR(d.fecha_calendario, 'Day') as name,\n    COALESCE(COUNT(DISTINCT l.id), 0)::integer as chats,\n    COALESCE(COUNT(DISTINCT a.id), 0)::integer as registros\nFROM dias d\nLEFT JOIN conversation_log l ON DATE(l.created_at) = d.fecha_calendario\nLEFT JOIN alumnos a ON DATE(a.fecha_registro) = d.fecha_calendario\nGROUP BY d.fecha_calendario\nORDER BY d.fecha_calendario ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"4015d247-8487-42e6-9f67-94c1706fd4a1","name":"obtener datos","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"jsCode":"const data = $('obtener datos').all();\nreturn data.map(row => ({\n  json: {\n    name: row.json.name || 'Sin datos',\n    chats: parseInt(row.json.chats) || 0,\n    registros: parseInt(row.json.registros) || 0\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"fdf44207-4187-4297-8494-9eb970258dec","name":"Code in JavaScript"},{"parameters":{"url":"https://asistente-ia-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-32,-224],"id":"abb784c9-dabb-40a6-8ccb-7c724c28e33e","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"obtener datos","type":"main","index":0}]]},"obtener datos":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Validador":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}