n8n-workflows/get-funnel-by-origin.json
{"updatedAt":"2026-04-30T08:00:00.000Z","createdAt":"2026-04-30T08:00:00.000Z","id":"funnelByOriginWorkflow","name":"get-funnel-by-origin","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"get-funnel-by-origin","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"id":"webhook-funnel","name":"Webhook","webhookId":"get-funnel-by-origin-webhook"},{"parameters":{"operation":"executeQuery","query":"WITH monthly_funnel AS (\n  SELECT\n    a.origen,\n    CASE\n      WHEN a.estado = 'REGISTRADO' THEN 'Registrados'\n      WHEN a.estado = 'ACTIVO' THEN 'Activos'\n      WHEN a.estado = 'PAUSADO' THEN 'Pausados'\n      WHEN a.estado = 'BAJA' THEN 'Baja'\n      ELSE 'Otros'\n    END as etapa,\n    COUNT(DISTINCT a.id)::integer as cantidad\n  FROM alumnos a\n  WHERE\n    DATE(a.fecha_registro) >= '{{ $json.query.startDate }}'::date\n    AND DATE(a.fecha_registro) <= '{{ $json.query.endDate }}'::date\n  GROUP BY a.origen, etapa\n)\nSELECT\n  origen,\n  JSON_OBJECT_AGG(etapa, cantidad) as etapas\nFROM monthly_funnel\nGROUP BY origen\nORDER BY origen;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,0],"id":"postgres-funnel","name":"Query Database","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"jsCode":"const allRows = $('Query Database').all();\n\nconst funnelByOrigin = allRows.map(row => {\n  const etapas = row.json.etapas || {};\n  return {\n    origin: row.json.origen === 'RECOMENDACION' ? 'Recomendación' : 'Orgánico',\n    nuevos: etapas.Nuevos || 0,\n    nutriendo: etapas.Nutriendo || 0,\n    conversion: etapas.Conversión || 0,\n    tasa_conversion: etapas.Nuevos > 0 ? Math.round((etapas.Conversión || 0) / etapas.Nuevos * 100) : 0\n  };\n});\n\nreturn [{\n  json: {\n    items: funnelByOrigin\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"id":"code-format","name":"Format Response"}],"connections":{"Webhook":{"main":[[{"node":"Query Database","type":"main","index":0}]]},"Query Database":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"}}