n8n-workflows/get-conversion-funnel.json
{"updatedAt":"2026-04-25T19:15:30.799Z","createdAt":"2026-04-21T17:16:31.738Z","id":"jzqml8SxYpcCT7DT","name":"get-conversion-funnel","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"get-conversion-funnel","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"id":"9c2c06aa-baa5-428d-b4c2-38e4389ceb72","name":"Webhook","webhookId":"72e2748d-0b84-4022-9972-7aca31ef98ac"},{"parameters":{"jsCode":"const allRows = $('obtener datos').all();\n\nreturn [{\n  json: {\n    items: allRows.map(row => ({\n      etapa: row.json.etapa,\n      cantidad: parseInt(row.json.cantidad) || 0\n    }))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"5c4845f9-f8c9-452c-8271-5406e1047ad5","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"WITH funnel AS (\n    SELECT 'NUEVO' as etapa, COUNT(DISTINCT id)::integer as cantidad, 1 as orden FROM leads WHERE estado = 'NUEVO'\n    UNION ALL\n    SELECT 'FRIO', COUNT(DISTINCT id)::integer, 2 FROM leads WHERE estado = 'FRIO'\n    UNION ALL\n    SELECT 'TIBIO', COUNT(DISTINCT id)::integer, 3 FROM leads WHERE estado = 'TIBIO'\n    UNION ALL\n    SELECT 'CALIENTE', COUNT(DISTINCT id)::integer, 4 FROM leads WHERE estado = 'CALIENTE'\n)\nSELECT etapa, cantidad FROM funnel ORDER BY orden;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"cb79a6a3-2d51-4a1a-91bf-510515de5d8b","name":"obtener datos","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://asistente-ia-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,-192],"id":"a5b36992-fda3-4e88-b78b-ee6c00963dd6","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"obtener datos","type":"main","index":0}]]},"obtener datos":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Validador":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}