n8n-workflows/get-leads-distribution.json
{"updatedAt":"2026-04-25T19:15:30.799Z","createdAt":"2026-04-21T17:16:31.738Z","id":"leads_distribution","name":"get-leads-distribution","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"get-leads-distribution","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"id":"webhook_leads_dist","name":"Webhook","webhookId":"leads-dist-webhook"},{"parameters":{"jsCode":"const allRows = $('obtener datos').all();\n\nreturn [{\n  json: {\n    items: allRows.map(row => ({\n      name: row.json.lead_tipo || 'Sin clasificar',\n      value: parseInt(row.json.cantidad) || 0\n    }))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"code_leads_dist","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  lead_tipo,\n  COUNT(*) as cantidad\nFROM leads\nWHERE lead_tipo IS NOT NULL\nGROUP BY lead_tipo\nORDER BY cantidad DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"postgres_leads_dist","name":"obtener datos","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"obtener datos","type":"main","index":0}]]},"obtener datos":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}