n8n-workflows/get-kpis.json
{"updatedAt":"2026-04-25T19:14:22.342Z","createdAt":"2026-04-21T14:19:09.476Z","id":"WDQT4EQYbI8q7xhA","name":"KPIs Dashboard","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"get-kpis","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"id":"b88664cc-df82-4cca-8e85-d6107d4ac16d","name":"Webhook","webhookId":"2af37b89-70ff-46b1-a31d-5c0c778a8df4"},{"parameters":{"operation":"executeQuery","query":"WITH alumnos_summary AS (\n  SELECT \n    COALESCE(SUM(CASE WHEN estado IN ('REGISTRADO', 'ACTIVO') THEN 1 ELSE 0 END), 0)::integer as registrados,\n    COALESCE(SUM(CASE WHEN DATE(fecha_registro) >= '{{ $json.query.startDate }}'::date AND DATE(fecha_registro) <= '{{ $json.query.endDate }}'::date THEN 1 ELSE 0 END), 0)::integer as registrados_mes,\n    COALESCE(SUM(CASE WHEN DATE(p.fecha_pago) >= '{{ $json.query.startDate }}'::date AND DATE(p.fecha_pago) <= '{{ $json.query.endDate }}'::date THEN p.monto ELSE 0 END), 0)::numeric as ingresos_mes\n  FROM alumnos a\n  LEFT JOIN pagos p ON a.id = p.alumno_id\n),\nleads_summary AS (\n  SELECT \n    COALESCE(COUNT(CASE WHEN estado IN ('NUEVO', 'FRIO', 'TIBIO', 'CALIENTE') THEN 1 END), 0)::integer as leads_calificados,\n    COALESCE(COUNT(CASE WHEN estado = 'CALIENTE' AND DATE(estado_fecha) >= '{{ $json.query.startDate }}'::date AND DATE(estado_fecha) <= '{{ $json.query.endDate }}'::date THEN 1 END), 0)::integer as leads_nuevos_mes,\n    COALESCE(COUNT(CASE WHEN estado IN ('NUEVO', 'FRIO', 'TIBIO', 'CALIENTE') THEN 1 END), 0)::integer as total_leads\n  FROM leads\n)\nSELECT \n  (SELECT registrados FROM alumnos_summary)::integer as registrados,\n  (SELECT leads_calificados FROM leads_summary)::integer as leads_calificados,\n  (SELECT leads_nuevos_mes FROM leads_summary)::integer as leads_nuevos_mes,\n  CASE \n    WHEN (SELECT total_leads FROM leads_summary)::numeric > 0 THEN\n      ROUND(100.0 * (SELECT registrados FROM alumnos_summary)::numeric / (SELECT total_leads FROM leads_summary)::numeric, 2)\n    ELSE 0\n  END::numeric as tasa_conversion_pct,\n  (SELECT ingresos_mes FROM alumnos_summary)::numeric as ingresos_mes;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,0],"id":"d45bcbd0-25a4-4e1a-b4f5-92cb296966ec","name":"Execute a SQL query","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"jsCode":"const data = $('Execute a SQL query').first().json;\nreturn [\n  {\n    json: {\n      registrados: parseInt(data.registrados) || 0,\n      leads_calificados: parseInt(data.leads_calificados) || 0,\n      leads_nuevos_mes: parseInt(data.leads_nuevos_mes) || 0,\n      tasa_conversion_pct: parseFloat(data.tasa_conversion_pct) || 0,\n      ingresos_mes: parseInt(data.ingresos_mes) || 0,\n      leads_nuevos_variacion: 0,\n      conversaciones_atendidas: 0,\n      conversaciones_variacion: 0,\n      registrados_variacion: 0,\n      ingresos_variacion: 0\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"52e79ec1-aa80-4773-9807-922ec5fef7a4","name":"Code in JavaScript"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}
