n8n-workflows/get-alumnos-list.json
{"updatedAt":"2026-04-25T19:17:48.063Z","createdAt":"2026-04-24T00:19:55.970Z","id":"xS6HBvN22ZJRhRod","name":"get-alumnos-list","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"get-alumnos-list","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,0],"id":"3701d78f-41c1-4f5b-87fa-8ca0fc3ae4aa","name":"Webhook","webhookId":"7df8d192-f114-406a-bba8-a631c7e23545"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst query = input.query || {};\nconst { search, estado, categoria, limit = 50, offset = 0 } = query;\n\nconst searchPattern = search ? `%${search}%` : '%';\nconst allowedEstados = ['NUEVO', 'FRIO', 'TIBIO', 'CALIENTE', 'ACTIVO', 'PAUSADO', 'BAJA'];\nconst estadoFilter = estado && allowedEstados.includes(estado) ? `estado = '${estado}'` : `estado IN ('NUEVO','FRIO','TIBIO','CALIENTE','ACTIVO','PAUSADO','BAJA')`;\nconst allowedCategorias = ['KIDS', 'AU_PAIR', 'ADULTOS', 'PERSONALIZADO', 'KIDS-ADOLESCENTES'];\nconst categoriaFilter = categoria && allowedCategorias.includes(categoria) ? `categoria = '${categoria}'` : 'true';\n\nconst queryList = `SELECT id, nombre, whatsapp, email, estado, categoria, \n       horario_clase, foto_url, fecha_registro, ultimo_contacto\nFROM alumnos\nWHERE (nombre ILIKE '${searchPattern}' OR whatsapp ILIKE '${searchPattern}' OR email ILIKE '${searchPattern}')\nAND (${estadoFilter})\nAND (${categoriaFilter})\nORDER BY fecha_registro DESC\nLIMIT ${parseInt(limit)} OFFSET ${parseInt(offset)};`;\n\nconst queryCount = `SELECT COUNT(*) as total\nFROM alumnos\nWHERE (nombre ILIKE '${searchPattern}' OR whatsapp ILIKE '${searchPattern}' OR email ILIKE '${searchPattern}')\nAND (${estadoFilter})\nAND (${categoriaFilter});`;\n\nreturn [{\n  json: {\n    queryList,\n    queryCount,\n    limit,\n    offset\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"f15cdd18-6e77-4994-a25f-5dc123dcc0a3","name":"arma query"},{"parameters":{"jsCode":"const items = $('Select Alumnos').all().map(row => row.json);\nconst totalData = $('Count Total').first().json;\nconst total = totalData.total;\nconst limit = $input.first().json.limit;\nconst offset = $input.first().json.offset;\n\nreturn [{\n  json: {\n    items,\n    total,\n    limit,\n    offset\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"131ca55a-9803-4688-9144-d95d56b897f5","name":"respuesta"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.queryList }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"4d6bea18-0516-46c4-9608-9f736efadb17","name":"Select Alumnos","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.queryCount }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,0],"id":"986607e9-f14e-46f7-9d8f-05838dfb7735","name":"Count Total","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,-160],"id":"76b94901-2e42-4957-b22b-2253dd4760e5","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"Select Alumnos","type":"main","index":0}]]},"Select Alumnos":{"main":[[{"node":"Count Total","type":"main","index":0}]]},"Count Total":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"agente-fla-n8n.x5miqk.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; es-AR) WindowsPowerShell/5.1.19041.6456","content-type":"application/json","x-forwarded-for":"201.235.17.183","x-forwarded-host":"agente-fla-n8n.x5miqk.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"dbf76c5580fc","x-real-ip":"201.235.17.183","accept-encoding":"gzip"},"params":{},"query":{"limit":"10","offset":"0"},"body":{},"webhookUrl":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/get-alumnos-list","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"480b0073-ed2c-4c1c-9267-7e9d16140b14","activeVersionId":"480b0073-ed2c-4c1c-9267-7e9d16140b14","triggerCount":1,"shared":[{"updatedAt":"2026-04-24T00:19:55.972Z","createdAt":"2026-04-24T00:19:55.972Z","role":"workflow:owner","workflowId":"xS6HBvN22ZJRhRod","projectId":"vcSsmFzAF5xR3jXm"}],"activeVersion":{"updatedAt":"2026-04-25T19:17:49.000Z","createdAt":"2026-04-25T19:17:48.064Z","versionId":"480b0073-ed2c-4c1c-9267-7e9d16140b14","workflowId":"xS6HBvN22ZJRhRod","nodes":[{"parameters":{"path":"get-alumnos-list","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,0],"id":"3701d78f-41c1-4f5b-87fa-8ca0fc3ae4aa","name":"Webhook","webhookId":"7df8d192-f114-406a-bba8-a631c7e23545"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst query = input.query || {};\nconst { search, estado, categoria, limit = 50, offset = 0 } = query;\n\nconst searchPattern = search ? `%${search}%` : '%';\nconst allowedEstados = ['NUEVO', 'FRIO', 'TIBIO', 'CALIENTE', 'ACTIVO', 'PAUSADO', 'BAJA'];\nconst estadoFilter = estado && allowedEstados.includes(estado) ? `estado = '${estado}'` : `estado IN ('NUEVO','FRIO','TIBIO','CALIENTE','ACTIVO','PAUSADO','BAJA')`;\nconst allowedCategorias = ['KIDS', 'AU_PAIR', 'ADULTOS', 'PERSONALIZADO', 'KIDS-ADOLESCENTES'];\nconst categoriaFilter = categoria && allowedCategorias.includes(categoria) ? `categoria = '${categoria}'` : 'true';\n\nconst queryList = `SELECT id, nombre, whatsapp, email, estado, categoria, \n       horario_clase, foto_url, fecha_registro, ultimo_contacto\nFROM alumnos\nWHERE (nombre ILIKE '${searchPattern}' OR whatsapp ILIKE '${searchPattern}' OR email ILIKE '${searchPattern}')\nAND (${estadoFilter})\nAND (${categoriaFilter})\nORDER BY fecha_registro DESC\nLIMIT ${parseInt(limit)} OFFSET ${parseInt(offset)};`;\n\nconst queryCount = `SELECT COUNT(*) as total\nFROM alumnos\nWHERE (nombre ILIKE '${searchPattern}' OR whatsapp ILIKE '${searchPattern}' OR email ILIKE '${searchPattern}')\nAND (${estadoFilter})\nAND (${categoriaFilter});`;\n\nreturn [{\n  json: {\n    queryList,\n    queryCount,\n    limit,\n    offset\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"f15cdd18-6e77-4994-a25f-5dc123dcc0a3","name":"arma query"},{"parameters":{"jsCode":"const items = $('Select Alumnos').all().map(row => row.json);\nconst totalData = $('Count Total').first().json;\nconst total = totalData.total;\nconst limit = $input.first().json.limit;\nconst offset = $input.first().json.offset;\n\nreturn [{\n  json: {\n    items,\n    total,\n    limit,\n    offset\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,0],"id":"131ca55a-9803-4688-9144-d95d56b897f5","name":"respuesta"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.queryList }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"4d6bea18-0516-46c4-9608-9f736efadb17","name":"Select Alumnos","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.queryCount }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,0],"id":"986607e9-f14e-46f7-9d8f-05838dfb7735","name":"Count Total","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,-160],"id":"76b94901-2e42-4957-b22b-2253dd4760e5","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"Select Alumnos","type":"main","index":0}]]},"Select Alumnos":{"main":[[{"node":"Count Total","type":"main","index":0}]]},"Count Total":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"authors":"Clases Fla","name":"Version 480b0073","description":"","autosaved":false},"tags":[]}