n8n-workflows/get-conocimiento-agente.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "pregunta" },
            { "name": "lead_tipo" },
            { "name": "whatsapp" }
          ]
        }
      },
      "id": "trigger-input",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-600, 200]
    },
    {
      "parameters": {
        "jsCode": "const { pregunta, lead_tipo } = $input.first().json;\n\nconst segmentosMap = {\n  KIDS: ['KIDS', 'GENERAL'],\n  ADOLESCENTE: ['KIDS', 'ADULTOS', 'GENERAL'],\n  ADULTO: ['ADULTOS', 'PERSONALIZADO', 'GENERAL'],\n  AU_PAIR: ['AU_PAIR', 'GENERAL'],\n  GENERAL: ['GENERAL']\n};\n\nconst segmentos = segmentosMap[lead_tipo] || segmentosMap['GENERAL'];\n\nreturn [{\n  json: {\n    pregunta: pregunta || 'información general',\n    lead_tipo: lead_tipo || 'GENERAL',\n    segmentos\n  }\n}];"
      },
      "id": "mapear-segmentos",
      "name": "Mapear Segmentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 200]
    },
    {
      "parameters": {
        "jsCode": "const { segmentos } = $input.first().json;\nconst segmentosStr = segmentos.map(s => `'${s}'`).join(',');\n\nconst query = `SELECT id, categoria, segmento, titulo, contenido, activo FROM conocimiento_academia WHERE segmento IN (${segmentosStr}) AND activo = true ORDER BY categoria, segmento, titulo LIMIT 20`;\n\nreturn [{ json: { query } }];"
      },
      "id": "build-query",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "query-postgres",
      "name": "Query PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst normData = $('Mapear Segmentos').first().json;\n\nif (!rows || rows.length === 0) {\n  return [{\n    json: {\n      contexto_encontrado: false,\n      contexto: 'Sin contexto disponible.',\n      pregunta: normData.pregunta,\n      lead_tipo: normData.lead_tipo,\n      items_encontrados: 0\n    }\n  }];\n}\n\nconst contexto = rows\n  .map(r => `**${r.categoria} (${r.segmento})**\\n${r.titulo}\\n${r.contenido}`)\n  .join('\\n\\n');\n\nreturn [{\n  json: {\n    contexto_encontrado: true,\n    contexto,\n    pregunta: normData.pregunta,\n    lead_tipo: normData.lead_tipo,\n    items_encontrados: rows.length\n  }\n}];"
      },
      "id": "procesar-resultados",
      "name": "Procesar Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 500,\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos un asistente de soporte para Clases de Inglés con Fla.\\n\\nTarea: responder la pregunta del alumno usando SOLO la información del CONTEXTO.\\n\\nREGLAS:\\n1. Si la información NO está en el contexto, responde: 'No tengo esa información. Te recomiendo que contactes directamente a Fla.'\\n2. Sé conciso (máximo 3-4 líneas).\\n3. Usa el tono de Fla: amable, cálido, cercano.\\n4. Nunca menciones 'contexto', 'base de datos' o detalles técnicos.\\n5. Si hay información sobre precios, horarios o detalles: transcribela fielmente.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('CONTEXTO:\\n' + ($json.contexto_encontrado ? $json.contexto : 'Sin información disponible') + '\\n\\nPREGUNTA DEL ALUMNO: ' + $json.pregunta) }}\n    }\n  ]\n}"
      },
      "id": "sintetizar-openai",
      "name": "Sintetizar con OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 200],
      "credentials": {
        "openAiApi": {
          "id": "9B6RX8Rc1tRmIZNI",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const synth = $input.first().json;\nconst procData = $('Procesar Resultados').first().json;\n\nlet respuesta = 'No tengo esa información disponible.';\nif (synth?.choices?.[0]?.message?.content) {\n  respuesta = synth.choices[0].message.content.trim();\n}\n\nreturn [{\n  json: {\n    resultado: respuesta,\n    confianza: procData.contexto_encontrado ? 'ALTA' : 'BAJA',\n    items_consultados: procData.items_encontrados\n  }\n}];"
      },
      "id": "retornar-agente",
      "name": "Retornar al Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 200]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Mapear Segmentos", "type": "main", "index": 0 }]]
    },
    "Mapear Segmentos": {
      "main": [[{ "node": "Build Query", "type": "main", "index": 0 }]]
    },
    "Build Query": {
      "main": [[{ "node": "Query PostgreSQL", "type": "main", "index": 0 }]]
    },
    "Query PostgreSQL": {
      "main": [[{ "node": "Procesar Resultados", "type": "main", "index": 0 }]]
    },
    "Procesar Resultados": {
      "main": [[{ "node": "Sintetizar con OpenAI", "type": "main", "index": 0 }]]
    },
    "Sintetizar con OpenAI": {
      "main": [[{ "node": "Retornar al Agente", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}