n8n-workflows/get-academia-config.json
{
  "nodes": [
    {
      "parameters": {
        "path": "get-academia-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-528, 112],
      "webhookId": "get-academia-config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT clave, valor FROM academia_config WHERE clave IN ('nombre_academia', 'nombre_profe', 'email', 'telefono', 'ubicacion_direccion', 'ubicacion_localidad', 'horario_atencion', 'banco', 'cbu', 'alias', 'linktree_url', 'instagram', 'facebook', 'politica_cancelacion', 'politica_recuperacion', 'politica_reembolso');",
        "options": {}
      },
      "id": "postgres_query",
      "name": "PostgreSQL - Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-288, 112],
      "credentials": {
        "postgres": {
          "id": "7vZZbkZhFbmui4On",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst config = {};\n\nfor (const row of rows) {\n  const data = row.json;\n  if (data.clave && data.valor !== undefined) {\n    config[data.clave] = data.valor || '';\n  }\n}\n\nconst fields = [\n  'nombre_academia', 'nombre_profe', 'email', 'telefono',\n  'ubicacion_direccion', 'ubicacion_localidad', 'horario_atencion',\n  'banco', 'cbu', 'alias', 'linktree_url',\n  'instagram', 'facebook', 'politica_cancelacion',\n  'politica_recuperacion', 'politica_reembolso'\n];\n\nconst resultado = {};\nfor (const field of fields) {\n  resultado[field] = config[field] || '';\n}\n\nreturn [{\n  json: {\n    config: resultado\n  }\n}];"
      },
      "id": "format_response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-96, 112]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [120, 112]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "PostgreSQL - Query", "type": "main", "index": 0}]]
    },
    "PostgreSQL - Query": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true
}
