n8n-workflows/subir-rag-docs.json
{
  "nodes": [
    {
      "parameters": {
        "path": "subir-rag-docs",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        240
      ],
      "id": "webhook-subir-rag",
      "name": "Webhook",
      "webhookId": "subir-rag-docs"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -200,
        240
      ],
      "id": "extract-from-file",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const formData = $input.first().json;\nconst categorias = (formData.categorias || '').split(',').map(c => c.trim()).filter(c => c);\nconst titulo = formData.titulo || '';\n\n// Agregar metadata a cada documento\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    metadata: {\n      categorias: categorias,\n      titulo: titulo,\n      fecha_carga: new Date().toISOString()\n    }\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "code-metadata",
      "name": "Agregar Metadata"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "id": "text-splitter",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        240
      ],
      "id": "data-loader",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        500
      ],
      "id": "embeddings-openai",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "academia",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        600,
        240
      ],
      "id": "qdrant-store",
      "name": "Qdrant Vector Store"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Agregar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Metadata": {
      "main": [
        [
          {
            "node": "Recursive Character Text Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
