n8n-workflows/update-academia-config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-academia-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-528, 112],
      "webhookId": "update-academia-config"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst fields = [\n  'nombre_academia', 'nombre_profe', 'email', 'telefono',\n  'ubicacion_direccion', 'ubicacion_localidad', 'horario_atencion',\n  'banco', 'cbu', 'alias', 'linktree_url',\n  'instagram', 'facebook', 'politica_cancelacion',\n  'politica_recuperacion', 'politica_reembolso'\n];\n\nconst values = [];\nlet hasUpdates = false;\n\nfor (const field of fields) {\n  const value = body[field];\n  if (value !== undefined && value !== null && value !== '') {\n    const escaped = String(value).replace(/'/g, \"''\");\n    values.push(`('${field}', '${escaped}', NOW())`);\n    hasUpdates = true;\n  }\n}\n\nlet query = null;\nif (hasUpdates) {\n  query = `INSERT INTO academia_config (clave, valor, updated_at) \nVALUES ${values.join(', ')} \nON CONFLICT (clave) DO UPDATE SET valor = EXCLUDED.valor, updated_at = NOW()\nRETURNING clave, valor;`;\n}\n\nreturn [{\n  json: {\n    query,\n    hasUpdates,\n    values\n  }\n}];"
      },
      "id": "arma_query",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-288, 112]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "comparator": "true",
              "value1": "={{ $json.hasUpdates }}"
            }
          ]
        }
      },
      "id": "check_updates",
      "name": "Check Updates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-96, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "postgres_query",
      "name": "PostgreSQL - Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [120, -96],
      "credentials": {
        "postgres": {
          "id": "7vZZbkZhFbmui4On",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst config = {};\n\nfor (const row of results) {\n  const data = row.json;\n  if (data.clave && data.valor !== undefined) {\n    config[data.clave] = data.valor;\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Configuración actualizada exitosamente',\n    config\n  }\n}];"
      },
      "id": "format_response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [312, -96]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    message: 'No hay campos para actualizar',\n    config: {}\n  }\n}];"
      },
      "id": "no_updates",
      "name": "No Updates Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 240]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [504, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Build Query", "type": "main", "index": 0}]]
    },
    "Build Query": {
      "main": [[{"node": "Check Updates", "type": "main", "index": 0}]]
    },
    "Check Updates": {
      "main": [
        [{"node": "PostgreSQL - Query", "type": "main", "index": 0}],
        [{"node": "No Updates Response", "type": "main", "index": 0}]
      ]
    },
    "PostgreSQL - Query": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "No Updates Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true
}
