n8n-workflows/update-horario.json
{"updatedAt":"2026-04-25T19:17:08.813Z","createdAt":"2026-04-24T00:12:42.579Z","id":"zO9QFXkp8vfnD2kp","name":"update-horario","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"PUT","path":"update-horario","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,0],"id":"2dfcb38e-0a5d-4918-9931-0507518cad84","name":"Webhook","webhookId":"0e5a2bec-92da-4e97-8f5d-e20fdfede9c0"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst bodyData = input.body || {};\nconst { id, nombre, tipo, nivel, categoria, dia_1, dia_2, hora_inicio, hora_fin, cupo_max, precio_mensual, descripcion } = bodyData;\n\nif (!id) {\n  throw new Error('ID del horario es requerido');\n}\n\nlet updateFields = [\"updated_at = NOW()\"];\n\nif (nombre) updateFields.unshift(`nombre = '${nombre.replace(/'/g, \"''\")}'`);\nif (tipo) updateFields.unshift(`tipo = '${tipo}'`);\nif (nivel) updateFields.unshift(`nivel = '${nivel}'`);\nif (categoria) updateFields.unshift(`categoria = '${categoria}'`);\nif (dia_1) updateFields.unshift(`dia_1 = '${dia_1}'`);\nif (dia_2) updateFields.unshift(`dia_2 = '${dia_2}'`);\nif (hora_inicio) updateFields.unshift(`hora_inicio = '${hora_inicio}'::time`);\nif (hora_fin) updateFields.unshift(`hora_fin = '${hora_fin}'::time`);\nif (cupo_max) updateFields.unshift(`cupo_max = ${parseInt(cupo_max)}`);\nif (precio_mensual) updateFields.unshift(`precio_mensual = ${parseFloat(precio_mensual)}`);\nif (descripcion) updateFields.unshift(`descripcion = '${descripcion.replace(/'/g, \"''\")}'`);\n\nconst query = `UPDATE horarios\nSET ${updateFields.join(', ')}\nWHERE id = ${parseInt(id)}\nRETURNING id, nombre, tipo, nivel, categoria, dia_1, dia_2, hora_inicio, hora_fin, cupo_max, activo;`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"f651afc4-be77-473d-88d7-32173c2617a0","name":"arma query"},{"parameters":{"jsCode":"const horario = $('arma query').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    mensaje: 'Horario actualizado',\n    horario\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"b18f4b41-a302-4870-a241-e51be8587139","name":"respuesta"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"83746bc7-87b0-4243-8b96-23f053337196","name":"update horario","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[32,-192],"id":"8694c159-001b-422c-be16-5973b23a5681","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"update horario","type":"main","index":0}]]},"update horario":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea10fbef-5427-4f65-a1f2-91e1f68185da","activeVersionId":"ea10fbef-5427-4f65-a1f2-91e1f68185da","triggerCount":1,"shared":[{"updatedAt":"2026-04-24T00:12:42.581Z","createdAt":"2026-04-24T00:12:42.581Z","role":"workflow:owner","workflowId":"zO9QFXkp8vfnD2kp","projectId":"vcSsmFzAF5xR3jXm"}],"activeVersion":{"updatedAt":"2026-04-25T19:17:11.000Z","createdAt":"2026-04-25T19:17:08.814Z","versionId":"ea10fbef-5427-4f65-a1f2-91e1f68185da","workflowId":"zO9QFXkp8vfnD2kp","nodes":[{"parameters":{"httpMethod":"PUT","path":"update-horario","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,0],"id":"2dfcb38e-0a5d-4918-9931-0507518cad84","name":"Webhook","webhookId":"0e5a2bec-92da-4e97-8f5d-e20fdfede9c0"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst bodyData = input.body || {};\nconst { id, nombre, tipo, nivel, categoria, dia_1, dia_2, hora_inicio, hora_fin, cupo_max, precio_mensual, descripcion } = bodyData;\n\nif (!id) {\n  throw new Error('ID del horario es requerido');\n}\n\nlet updateFields = [\"updated_at = NOW()\"];\n\nif (nombre) updateFields.unshift(`nombre = '${nombre.replace(/'/g, \"''\")}'`);\nif (tipo) updateFields.unshift(`tipo = '${tipo}'`);\nif (nivel) updateFields.unshift(`nivel = '${nivel}'`);\nif (categoria) updateFields.unshift(`categoria = '${categoria}'`);\nif (dia_1) updateFields.unshift(`dia_1 = '${dia_1}'`);\nif (dia_2) updateFields.unshift(`dia_2 = '${dia_2}'`);\nif (hora_inicio) updateFields.unshift(`hora_inicio = '${hora_inicio}'::time`);\nif (hora_fin) updateFields.unshift(`hora_fin = '${hora_fin}'::time`);\nif (cupo_max) updateFields.unshift(`cupo_max = ${parseInt(cupo_max)}`);\nif (precio_mensual) updateFields.unshift(`precio_mensual = ${parseFloat(precio_mensual)}`);\nif (descripcion) updateFields.unshift(`descripcion = '${descripcion.replace(/'/g, \"''\")}'`);\n\nconst query = `UPDATE horarios\nSET ${updateFields.join(', ')}\nWHERE id = ${parseInt(id)}\nRETURNING id, nombre, tipo, nivel, categoria, dia_1, dia_2, hora_inicio, hora_fin, cupo_max, activo;`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"f651afc4-be77-473d-88d7-32173c2617a0","name":"arma query"},{"parameters":{"jsCode":"const horario = $('arma query').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    mensaje: 'Horario actualizado',\n    horario\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"b18f4b41-a302-4870-a241-e51be8587139","name":"respuesta"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"83746bc7-87b0-4243-8b96-23f053337196","name":"update horario","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[32,-192],"id":"8694c159-001b-422c-be16-5973b23a5681","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"update horario","type":"main","index":0}]]},"update horario":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"authors":"Clases Fla","name":"Version ea10fbef","description":"","autosaved":false},"tags":[]}