n8n-workflows/update-cupo-horario.json
{"updatedAt":"2026-04-25T19:18:27.293Z","createdAt":"2026-04-24T14:03:21.138Z","id":"1AvZrED2DIw3llYY","name":"update-cupo-horario","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"update-cupo-horario","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,0],"id":"60dbbbe5-b6e1-43cc-ba39-8693ed007ac7","name":"Webhook","webhookId":"f28a5645-8cb6-4c56-9073-3945373da834"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst bodyData = input.body || {};\nconst { horario_id, accion } = bodyData;\n\nif (!horario_id || !accion) {\n  throw new Error('horario_id y accion son requeridos');\n}\n\n// accion puede ser 'incrementar' o 'decrementar'\nconst operador = accion === 'decrementar' ? '-' : '+';\n\nconst query = `UPDATE horarios\nSET cupo_actual = cupo_actual ${operador} 1,\n    updated_at = NOW()\nWHERE id = ${parseInt(horario_id)}\nRETURNING id, cupo_actual, cupo_max;`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0],"id":"5ac54b59-9726-4efa-84f7-4f353a84eb16","name":"arma query"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,0],"id":"bc5c4296-2a34-4b6a-b900-201d84be21b2","name":"update cupo","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"jsCode":"const resultado = $('update cupo').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    mensaje: 'Cupo actualizado',\n    horario_id: resultado.id,\n    cupo_actual: resultado.cupo_actual,\n    cupo_max: resultado.cupo_max\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,0],"id":"ff2503b9-8b9a-4da8-b402-47e899df2cb6","name":"respuesta"},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,-272],"id":"dd4535ef-a5d7-4c6f-be57-56e01f06ea91","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"update cupo","type":"main","index":0}]]},"update cupo":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"agente-fla-n8n.x5miqk.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36","content-length":"40","accept":"application/json, text/plain, */*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-US,es-419;q=0.9,es;q=0.8,en;q=0.7,zh-CN;q=0.6,zh;q=0.5","content-type":"application/json","origin":"http://localhost:5173","priority":"u=1, i","referer":"http://localhost:5173/","sec-ch-ua":"\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"201.235.17.183","x-forwarded-host":"agente-fla-n8n.x5miqk.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"dbf76c5580fc","x-real-ip":"201.235.17.183"},"params":{},"query":{},"body":{"horario_id":10,"accion":"incrementar"},"webhookUrl":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/update-cupo-horario","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"47fe987b-51dc-4a09-bc18-16eb635ad546","activeVersionId":"47fe987b-51dc-4a09-bc18-16eb635ad546","triggerCount":1,"shared":[{"updatedAt":"2026-04-24T14:03:21.141Z","createdAt":"2026-04-24T14:03:21.141Z","role":"workflow:owner","workflowId":"1AvZrED2DIw3llYY","projectId":"vcSsmFzAF5xR3jXm"}],"activeVersion":{"updatedAt":"2026-04-25T19:18:29.000Z","createdAt":"2026-04-25T19:18:27.294Z","versionId":"47fe987b-51dc-4a09-bc18-16eb635ad546","workflowId":"1AvZrED2DIw3llYY","nodes":[{"parameters":{"httpMethod":"POST","path":"update-cupo-horario","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,0],"id":"60dbbbe5-b6e1-43cc-ba39-8693ed007ac7","name":"Webhook","webhookId":"f28a5645-8cb6-4c56-9073-3945373da834"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst bodyData = input.body || {};\nconst { horario_id, accion } = bodyData;\n\nif (!horario_id || !accion) {\n  throw new Error('horario_id y accion son requeridos');\n}\n\n// accion puede ser 'incrementar' o 'decrementar'\nconst operador = accion === 'decrementar' ? '-' : '+';\n\nconst query = `UPDATE horarios\nSET cupo_actual = cupo_actual ${operador} 1,\n    updated_at = NOW()\nWHERE id = ${parseInt(horario_id)}\nRETURNING id, cupo_actual, cupo_max;`;\n\nreturn [{\n  json: {\n    query\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0],"id":"5ac54b59-9726-4efa-84f7-4f353a84eb16","name":"arma query"},{"parameters":{"operation":"executeQuery","query":"{{ $('arma query').first().json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,0],"id":"bc5c4296-2a34-4b6a-b900-201d84be21b2","name":"update cupo","credentials":{"postgres":{"id":"7vZZbkZhFbmui4On","name":"Postgres account"}}},{"parameters":{"jsCode":"const resultado = $('update cupo').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    mensaje: 'Cupo actualizado',\n    horario_id: resultado.id,\n    cupo_actual: resultado.cupo_actual,\n    cupo_max: resultado.cupo_max\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,0],"id":"ff2503b9-8b9a-4da8-b402-47e899df2cb6","name":"respuesta"},{"parameters":{"url":"https://agente-fla-n8n.x5miqk.easypanel.host/webhook/auth-validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ $input.first().json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,-272],"id":"dd4535ef-a5d7-4c6f-be57-56e01f06ea91","name":"Validador","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"arma query","type":"main","index":0}]]},"arma query":{"main":[[{"node":"update cupo","type":"main","index":0}]]},"update cupo":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Validador":{"main":[[]]}},"authors":"Clases Fla","name":"Version 47fe987b","description":"","autosaved":false},"tags":[]}